@font-face {
  font-family: "StarJedi";
  src: url("../../fonts/Starjedi.ttf") format("truetype");
}

.header {
  background-color: #0d2149;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: 2rem;
  font-family: "StarJedi";
  margin: 20px 0 20px 50px;
}

.header .search {
  margin: 20px 50px 20px 0;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header h1 {
    margin: 0 50px;
  }

  .header .search {
    margin: 10px 50px;
  }
}
